<nav class="navbar navbar-default" data-spy="affix" data-offset-top="297" role="navigation" id="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/ic_launcher.png" alt="logo" width="40" height="40">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li<%=@curpage=='home' ? ' class="active"' : ''%>><a href="/">Home <span class="sr-only">(current)</span></a></li>
<%if @curuser %>
		<li data-toggle="modal" data-target="#msgModal">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="private messages">Messages</a>
        </li>
        <li<%=@curpage=='settings' ? ' class="active"' : ''%>><a href="/settings" data-toggle="tooltip" data-placement="bottom" title="profile settings">Settings</a></li>
<% end %>
      </ul>
      <form class="navbar-form navbar-left" action="/search" method="get" role="search">
	  <input type="text" name="q" class="form-control" placeholder="Search">
        <!--div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search">
        </div-->
        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="tweet content search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <%if @curuser %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=@curuser.name%><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/"><%=@curuser.name%>'s Home Page</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/following">Following</a></li>
            <li><a href="/followers">Followers</a></li>
          </ul>
        </li>
        <li>
          <form class="navbar-form navbar-right">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#tweetModal" data-whatever="@fat">Tweet</button>
          </form>
        </li>
        <% end %>
        <%if @curuser %>
        <li><a href="/logout">Logout</a></li>
        <% else %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
<%if @user %>
    <nav class="col-sm-3">
      <ul class="nav nav-pills nav-stacked" id="sidebar" data-spy="affix" data-offset-top="305">
        <li class="active">
          <a href="#section1">
            
            <%=@user.name%>
            
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail">
          <img data-src="holder.js/100%x90" alt="100%x90" src="/user_avatars/<%=@curuser.name%>.jpg" data-holder-rendered="true" style="height: 90px; display: block;">
        </a>
        </li>
        <li><a href="<%="/user/#{@user.name}"%>">Tweets<span class="badge"><%= @user.tweets.count%></span></a>
      <a href="<%="/user/#{@user.name}/following"%>">Following<span class="badge"><%= @user.followed_users.count%></span></a>
      <a href="<%="/user/#{@user.name}/followers"%>">Followers<span class="badge"><%= @user.followers.count%></span></a>
	  <a href="<%="/user/#{@user.name}/favourites"%>">Favourites<span class="badge"><%= @user.favourites.count%></span></a>
    </li>
      </ul>
    </nav>
	<%end%>
  <div class="col-sm-9">
    <%= yield%>
  </div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
</div>
</div>
<style>
    .modal-dialog{
    position: absolute;
    left: 50%;
    margin-left: -312px;
    height: 500px;
    top: 50%;
    margin-top: -250px;
    }

    .modal .modal-body{
      max-height: 300px;
      overflow-y: auto;
    }

    .bootstrap-tagsinput{
      width: 100% !important;
    }
</style>


<div class="modal fade" id="tweetModal" tabindex="-1" role="dialog" aria-labelledby="tweetModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="tweetModalLabel">New message</h4>
                </div>
                <div class="modal-body">
                  <form action="/tweet/new" method="POST">
                    <div class="form-group">
                      <label for="text" class="control-label">Tweet:</label>
                      <textarea class="form-control user-autocomplete" data-provide="typeahead" maxlength="140" id="text" name="text" placeholder="What's in your mind?" required></textarea>
                    </div>
                    <input type="submit" class="btn btn-info" id="submit" value="Send Tweet"/>
                    <span id="charleft"></span>
                  </form>
                </div>
              </div>
            </div>
          </div>

		  
<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" id="msg-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="msgModalLabel">New message</h4>
                </div>

                <div class="modal-header" id="chat-header">
                    <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-left" id="back"></span></button>
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                        </ul>
                    </div>
                    <h2 class="text-info" id="chatgroup-title"></h2>
                </div>
                <div class="modal-body" id="msg-body">
                      <label for="chatgroups" class="control-label">Recent Chats:</label>
                      <ul class="list-group" id="chatgroups">
                      </ul>

                    <div class="form-group">
                      <label for="recipients" class="control-label">Recipents:</label>
                      <input id="recipients" type="text" class="form-control" name="users" data-role="tagsinput" required/>
                    </div>
                </div>

                <div class="modal-body" id="chat-body">
                    <ul class="chat" id="chat-messages">
                    </ul>
                </div>

                
                <div class="modal-footer" id="msg-footer">
                  <input type="button" id="msgFormSubmit" class="btn btn-info" value="New Chat"/>
                </div>
            

                <div class="modal-footer" id="chat-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
              </div>
            </div>
</div>


<script>

/* Modal JS */

var charleft = 140;

$('#tweetModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  
  modal.find('.modal-body #charleft').html(charleft);
  modal.find('.modal-body #submit').prop('disabled', true);

  modal.find('.modal-body #text').bind('input propertychange', function() {
    charleft = 140 - $(this).val().length;
    if(charleft == 140){
      modal.find('.modal-body #submit').prop('disabled', true);
    }else{
      modal.find('.modal-body #submit').prop('disabled', false);
    }
    if(charleft <= 5){
      modal.find('.modal-body #charleft').addClass('text-danger');
    } else {
      modal.find('.modal-body #charleft').removeClass('text-danger');
    }
    modal.find('.modal-body #charleft').html(charleft);
  });
})


function LoadChatgroups() {
  $('#chatgroups').empty();
  $('#chat-header').hide();
  $('#chat-body').hide();
  $('#chat-footer').hide();
    $('#msg-header').show();
    $('#msg-body').show();
    $('#msg-footer').show();

  $.post('/messages', function(data){
    
      $('#chatgroups').append(data.html);
	$('#msgModal li a').click(function() {
		LoadChat($( this ).attr( "href"));
    $('#chatgroup-title').html($(this).html());
		return false;
	});
  }, "json");

}


function LoadChat(url, recipients) {
    $('#msg-header').hide();
    $('#msg-body').hide();
    $('#msg-footer').hide();
    $('#chatgroup-title').html(recipients);
    $('#chat-header').show();
    $('#chat-body').show();
    $('#chat-footer').show();


	$.post(url,function( data ) {
			$('#chat-messages').empty();
			$('#chat-messages').attr('data-id',data.group_id);
			AppendMessages(data);
      //console.log($("#chat-messages")[0].scrollHeight);
      $("#chat-body").animate({ scrollTop: $("#chat-messages")[0].scrollHeight}, 'slow');
		}, "json");
	
}

function AppendMessages(data) {
	$('#chat-messages').append(data.html);
}

/* Message Modal */

$('#msgModal').on('show.bs.modal', function (event) {
  $("#msg-body").animate({ scrollTop: $("#msg-body").height() + 150 }, 'slow');
  $('#msgFormSubmit').prop('disabled', true);

  var button = $(event.relatedTarget);// Button that triggered the modal
  //var recipients = button.data('convs'); // Extract info from data-* attributes
  var chatgroups;
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.




  $('#recipients').tagsinput();

  var modal = $(this);
  LoadChatgroups();

});


$('#recipients').change(function() {
  var recipients = $('#recipients').val();
  if (recipients.length > 0){
    $('#msgFormSubmit').prop('disabled', false);
  } else {
    $('#msgFormSubmit').prop('disabled', true);
  }
});


$('#msgModal').on('hidden.bs.modal', function (event) {
  $('#chatgroups').empty();
});

$('#msgFormSubmit').click(function(){
    var recipients = $('#recipients').val();
    
    $.post('/messages/new', {users: recipients}, function(data){
        LoadChat('/messages/' + data.group_id, recipients);
    },'json');


  });

  $('#back').click(function(){
    LoadChatgroups();
  });

  $("#btn-input").keypress(function(event){
      if(event.keyCode == 13){
        $("#btn-chat").click();
      }
  });


  $('#btn-chat').click(function(){
    
    $.post('/messages/'+$('#chat-messages').attr('data-id')+'/new', {text:$('#btn-input').val()},function(data){
	AppendMessages(data);
    }, "json");

    $("#chat-body").animate({ scrollTop: $("#chat-messages").height() + 150 }, 'slow');

    $('#btn-input').val('');

  });
  
	$( document ).on("click",".unfollow-btn",function() {
		var element=$(this);
		$.post('/unfollow/'+$( this ).attr( "data-user-name"),function( data ) {
			element.removeClass("unfollow-btn");
			element.addClass("follow-btn");
			element.text('Follow')
		}, "json");
		return false;
	});
	$( document ).on("click",".follow-btn",function() {
		var element=$(this);
		$.post('/follow/'+$( this ).attr( "data-user-name"),function( data ) {
			element.addClass("follow-btn");
			element.addClass("unfollow-btn");
			element.text('Unfollow')
		}, "json");
		return false;
	});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})


$('.user-autocomplete').typeahead({
  hint: true,
  highlight: true,
  minLength: 1,
  source: function (query,process) {
	var match=/@(\w+)$/g.exec(query);
	if (match) {$.get('/autocomplete?q='+match[1],function( data ) {
	process(data);},"json");
	} else process([]);
  },
  displayText: function(item) {
	return item[1] + " @" + item[0];
  },
  updater: function(item) {
	var str=this.query.replace(/@(\w+)$/g,'@'+item[0]) + " ";
	return str;
  },
  matcher: function (item) {
	var match=/@(\w+)$/g.exec(this.query);
	
	return match ? item[0].toLowerCase().indexOf(match[1].toLowerCase()) === 0 || item[1].toLowerCase().indexOf(match[1].toLowerCase()) === 0 :false;
  }
  
});

</script>


	


