		<div class="panel panel-info">
		  <div class="panel-body bg-info">
		    <a href="/user/<%= tweet.user.name%>"><%= tweet.user.display_name%></a>
			<%='@' + tweet.user.name%> <%= tweet.create_time%>
		  </div>
		  <div class="panel-footer"><%= parse_tweet tweet.text%></div>
		</div>
