
    <div class="panel panel-default tweet-panel" data-loaded="false">
      <div class="panel-collapse collapse">
        <ul class="list-group ancestor-list">
        </ul>
      </div>
	<div class="panel-heading" >
		<div class="row">
		<div class="col-xs-2">
	    <img id="profile-pic" src="/user_avatars/<%=tweet.user.name%>.jpg" alt="your image" width="50" height="50"/>
	    </div> 
	    <div class="col-xs-10">
		<a href="/user/<%= tweet.user.name%>"><%= tweet.user.display_name%></a>  @<%=tweet.user.name%>
		<span id="moment<%= tweet.id %>" class="moment text-success"><%=tweet.create_time%></span>
		<br>
		<%= tweet.to_html%>
		<br>
		</div>
		</div>
	<div class="container-fluid">
		<div class="row">
		<div class="col-xs-2">
		</div>
		<div class="col-xs-2">
		<a role="button" href="/tweet/<%=tweet.id%>/comment" class="text-success reply-btn" data-toggle="collapse" data-tweet-id="<%=tweet.id%>">
		  <span class="fa fa-reply tweet-comment"></span>
		</a>
		</div>
		<div class="col-xs-2">
		<a class="retweet-btn" role="button"  href="/tweet/<%=tweet.id%>/retweet"><span class="glyphicon glyphicon-retweet" <%=@curuser && tweet.retweeted_by?(@curuser) ? 'style="color:green"': nil%> /></a>&nbsp;<span class="count badge"><%=tweet.retweets.size%></span>
		</div>
		<div class="col-xs-2">
		<a class="fav-btn" role="button"  href="/tweet/<%=tweet.id%>/favourite"><span class="glyphicon glyphicon-star" <%=@curuser && tweet.favourited_by?(@curuser) ? 'style="color:yellow"': nil%> /></a>&nbsp;<span class="count badge"><%=tweet.favourites.size%></span>
		</div>
		</div>
	</div>	      
	</div>
      <div class="panel-collapse collapse">
		<% if @curuser %>
		<div class="panel-footer">
			<textarea class="form-control user-autocomplete" data-provide="typeahead" maxlength="140" name="text" required></textarea>	
		    <button class="btn btn-info new-reply-btn" data-reply-to="<%=tweet.id%>">Reply</button>
		</div>
		<% end %>
        <ul class="list-group descendant-list">
        </ul>
        
      </div>
    </div>
	   
