  
	<title><%=@user.name%></title>
	<header><h1>Welcome to <%=@user.name%>'s Home!</h1></header>
	<% if content==0 then %>
		<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#timeline">Timeline</a></li>
	  <li><a href="/user/<%=@user.name%>">Tweets</a></li>
	  <li><a href="/user/<%=@user.name%>/with_replies">Tweets & Replies</a></li>
	  <li class="navbar-right"><%=erb :follow,:locals=> {:user=>@user} %></li>
	</ul>
	<div class="tab-content">
		<div id="timeline" class="tab-pane fade in active">
			<%= erb :show_tweet_list,:locals=>{:tweets=>Tweet.user_timeline(@user)} %>
		</div>
	</div>
	<% elsif content==1 %>
	<ul class="nav nav-tabs">
	  <li><a href="/user/<%=@user.name%>/timeline">Timeline</a></li>
	  <li><a href="/user/<%=@user.name%>">Tweets</a></li>
	  <li class="active"><a data-toggle="tab" href="#tweets-replies">Tweets & Replies</a></li>
	  <li class="navbar-right"><%=erb :follow,:locals=> {:user=>@user} %></li>
	</ul>
	<div class="tab-content">
		<div id="tweets-replies" class="tab-pane fade in active">
			<%= erb :show_tweet_list,:locals=>{:tweets=>Tweet.user_tweets_with_replies(@user)} %>
		</div>
	</div>
	<% else %>
	<ul class="nav nav-tabs">
	 <li><a href="/user/<%=@user.name%>/timeline">Timeline</a></li>
	  <li class="active"><a data-toggle="tab" href="#tweets">Tweets</a></li>
	  <li><a href="/user/<%=@user.name%>/with_replies">Tweets & Replies</a></li>
	  <li class="navbar-right"><%=erb :follow,:locals=> {:user=>@user} %></li>
	</ul>
	<div class="tab-content">
		<div id="tweets" class="tab-pane fade in active">
			<%= erb :show_tweet_list,:locals=>{:tweets=>Tweet.user_tweets(@user)} %>
		</div>
	</div>
	<% end %>
  
