<h3>Welcome to <%=user.name%>'s Home!</h3>
<%= yield %>
<% user.tweets.each do |tweet| %>
<p><a href="/user/<%= tweet.user.name%>"><%= tweet.user.name%></a>:<%= tweet.text%></p>
<% end %>
<!--
<a href="/events">Events</a>
<a href="/registrations">Registrations</a>
-->